# Ignore model checkpoints and logs
Segmentation/info/models/
Segmentation/info/debugs/
Classification/info/models/
Classification/info/debugs/
Preprocess/Warwick_QU_Dataset_augmentation
Preprocess/Warwick_QU_Dataset_denoised