# Ignore model checkpoints and logs
Segmentation/dataset
Segmentation/info/models/
Classification/*/info/models/
Classification/*/info/debugs/
Preprocess/Warwick_QU_Dataset_augmentation
Preprocess/Warwick_QU_Dataset_denoised